@import url('https://fonts.googleapis.com/css?Muli&display=swap');

* {
  box-sizing: border-box;
  
}



form{
    margin-left: auto;
    margin-right: auto;
}

input.ng-touched.ng.invalid.ng-dirty {
    border: 2px solid red;
}



body {
  color: #949496;
  font-family: 'Muli', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.container {
  padding: 20px 40px;
  border-radius: 5px;
}

.container h1 {
  text-align: center;
  margin-bottom: 30px;
  color: #171b20;
}

.container a {
  text-decoration: none;
  color: #1da1f2;
  font-weight: bold;
}

.btn-1 {
  cursor: pointer;
  display: inline-block;
  width: 100%;
  background: #1da1f2;
  color: #fff;
  padding: 15px;
  font-family: inherit;
  font-size: 16px;
  font-weight: bold;
  border: 0;
  border-radius: 5px;
}
.btn-2 {
    cursor: pointer;
    display: inline-block;
    width: 100%;
    background: red;
    color: #fff;
    padding: 15px;
    font-family: inherit;
    font-size: 16px;
    font-weight: bold;
    border: 0;
    border-radius: 5px;
  }


