<h1 class="text-primary" id="please">Plase Input Your quote to Generate It</h1>

<br>

<form (ngSubmit)="onSubmit()" #form='ngForm'>
    <div class="form-group">
        <label for="name">Author</label>
        <input type="text" class="form-control" name="name" ngModel required #username="ngModel">
        <span class="text-danger"*ngIf="username.touched  && username.invalid">Please input your name *</span>
    </div>
    <br>
    <div class="form-group">
        <label for="email">Email</label>
        <input type="email" class="form-control" name="email" ngModel required email #userEmail="ngModel" email>
        <span class="text-danger" *ngIf="userEmail.touched  && userEmail.invalid">Please input your correct email *</span>
    </div>
     <br>
    <div class="form-group">
        <label for="quote">Write your Quote</label>
        <input type="text" class="form-control" name="quote" ngModel required #quote="ngModel">
        <span class="text-danger" *ngIf="quote.touched  && quote.invalid">Please write a quote *</span>
    </div>
    <br>

    <button type="submit" class="btn-1 btn-primary mt-2" [disabled]="form.invalid" (click)="onAddData(username, userEmail, quote )">Submit</button>
</form>
<div class="container">
    <div class="row">
        <div class="col-md-12" *ngFor="let quote of quotes; let t = index">
            <li>{{quote.name}}</li>
            <li>{{quote.email}}</li>
            <li>{{quote.quote}}</li>
            {{ currentDate | date }}

            <strong (click)="addUpvote(t)"><button class="btn btn-primary">upvote</button></strong><strong> {{quote.upvote}}</strong> 
            || <strong (click)="removeUpvote(t)" >
                <button class="btn btn-secondary">downvote</button></strong><strong> {{quote.downvote}}</strong> <br>
            <button type="button" class="btn btn-outline-danger mt-2" (click)="onDeleteQuote(t)">Delete Quote</button>
        <hr>
        </div>
    </div>
</div>